%h2= @company.name

%h3
  Упоминания (#{@company.company_mentions.count})
  %ul
    - @company.company_mentions.each do |cm|
      %li= link_to cm, cm
      
%h3
  - @collect_article = @company.articles.uniq
  Статьи (#{@collect_article.count})
  %ul
    - @collect_article.each do |a|
      %li= link_to a.title, a.url
hi
= render :partial => 'graphic'
